{
    "presets":[ "es2015", "es2017", "react", "stage-0" ],
    "env": {
        "test": {
            "presets": [ "es2015", "react", "stage-1" ]            
        }
    },
    "plugins": ["transform-async-to-generator"]
}
