@import 'src/styles/index';

.empty-state {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.empty-state__icon {
  font-size: 10rem;
  transform: rotate(90deg);
  width: 11rem;
  margin: 0;
  color: $primary-text-color;
}

.empty-state__text {
  font-size: 1.6rem;
  color: $primary-text-color;
}