@import 'src/styles/index';

.home {
  padding: 3rem 0;
  height: calc(100% - #{$header-height});
  overflow: scroll;
  box-sizing: border-box;
}

.home__content {
  background-color: $bg-color;
}

.home__loader {
  margin: 0 auto;
}

.home--loading, .home--empty {
  display: flex;
  justify-content: center;
  align-items: center;

}